
<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Event Planer Bangladesh Limeted</h5>
                <h4>Call Us For Book Event :01758091506</h4>
                <p class="grey-text text-lighten-4">At the end of the day, our goal is to help you marry your best friend in the most stress-free way imaginable.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li class="grey-text text-lighten-3">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="grey-text text-lighten-3">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="grey-text text-lighten-3">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © @DateTime.Now.Year - www.eventplannerbd,com

            <a class="" grey-text text-lighten-4 right" href="~/HtmlPage1.html">Term & policy</a>
        </div>
    </div>
</footer>
