@{
    ViewBag.Title = "About Us";
}
<h2 class="center">@ViewBag.Title.</h2>



<div class="card-panel">
    <p>
        Service We Provide
        A directory of complete wedding , birthday  &  event
        to HELP plan your perfect wedding ,birthday & event day .


        "Online Since 2007"

        Award winning BD Event Management & Wedding Planners offer a highly creative ,

        friendly & Professional service to Bangladesh .
    </p>
</div>